
// VARIABLES

// BREAKPOINTS
$breakpoint-one: 640px, 'no-query' true;
$breakpoint-two: 960px, 'no-query' true; // display this breakpoint in IE8
$breakpoint-three: 1280px;

// COLOURS
$black: #000;
$grey: #666;
$white: #fff;


// ICON MAPPING
$icon-hamburger: 			"\e600";
$icon-location: 			"\e601";

$icon-block-arrow-left: 	"\e602";
$icon-block-arrow-down: 	"\e603";
$icon-block-arrow-up: 		"\e604";
$icon-block-arrow-right: 	"\e605";

$icon-arrow-left: 			"\e606";
$icon-arrow-down: 			"\e607";
$icon-arrow-up: 			"\e608";
$icon-arrow-right: 			"\e609";